<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boggle</title>
    <link rel='stylesheet' href='/static/boggle.css'>
</head>

<h2>Welcome to Boggle!</h2>
<h3><u>How to Play:</u> </h3>
<h4>Create words from a random assortment of letters and enter it below.
</br> Words must contain adjacent letters (horizontal, vertical, or diagonal)
</br> Letters must be connected in ordered sequence to spell the word correctly.
</br><i>I will know if you've already used the word, or if it is invalid. Have fun!</i>
</h4> 
<body>
    <section id='boggle'>
    <table class="board">
        <tbody>
            {% for row in board %}
            <tr>
                {% for block in row %}
                <td>{{ block }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>



    <p>Timer: <b class="timer"></b> second(s)</p>
    <p> Score: <b class="score">0</b> points</p>
    <p>
        High Score: <b> {{ highscore }}</b> points
    </p>
    <p>    
        Time(s) played: <b> {{ playcount }}</b>
    </p>

    <form method="POST" class='form'>
        <input name="guess" class='guess' placeholder="Enter your guess!">
        <button>Submit</button>
    </form>

    <p class='msg'></p>
    </section>
    <script src="http://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/axios@0.19.0/dist/axios.js"></script>
    <script src="/static/boggle.js"></script>
    <script>let game = new BoggleGame('boggle', 60)</script>
</body>
</html>